@import url('https://fonts.googleapis.com/css?family=Rubik:400, 500');

body {
   background-color: #3aafa9;
   color: #feffff;
   font-family: 'Rubik', sans-serif;
   height: 100%;
   min-height: 100%;
   overflow: auto;
}

html {
   height: 100%;
}

#root {
   height: 100%;
}

.pageContainer {
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 10px;
   height: 100%;
   min-width: 600px;
}

.flexContainer {
   display: flex;
   font-weight: bold;
}

.homeContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.homeContainer h1 {
   animation: slideDown 1s linear 0s 1 forwards,
      fadeIn 1.25s linear 0s 1 forwards;
}

.homeContainer p {
   opacity: 0;
   animation: slideUp 1s linear 1s 1 forwards, fadeIn 1.25s linear 1s 1 forwards;
}

.navBar {
   justify-content: space-between;
   margin: 0px 5px;
}

.navBar a {
   text-decoration: none;
   color: #feffff;
}

.linkContainer {
   flex: 1;
   justify-content: space-between;
   max-width: 200px;
}

div .skills {
   height: 100px;
   width: 100px;
}

.aboutContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.skillsContainer {
   display: flex;
   background: #def2f1;
   border: 4px solid #2b7a78;
   min-height: fit-content;
}

.skillsContainer svg {
   margin: 5px;
}

.contactContainer {
   display: flex;
   background: #def2f1;
   border: 4px solid #2b7a78;
}

.contactContainer a {
   margin: 10px;
}

.mailLink {
   text-decoration: none;
   color: #17252a;
   margin-left: 5px;
}

.projectsContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.projectsContainer > img {
   width: 30%;
   border: 4px solid #2b7a78;
   margin-bottom: 3%;
}

.basicFlexContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* .item {
   max-width: 225px;
   max-height: 225px;
   margin: 10px;
} */

@keyframes slideDown {
   from {
      margin-top: 10%;
   }

   to {
      margin-top: 20%;
   }
}

@keyframes slideUp {
   from {
      margin-top: 10%;
   }

   to {
      margin-top: 0%;
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}
/* 
@media only screen and (max-width: 1200px) {
   .pageContainer {
      max-width: 796px;
   }
}

@media only screen and (min-width: 1201px) {
   .pageContainer {
      max-width: 1080px;
   }
} */
