@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');

.flexContainer {
   display: flex;
}

body {
   background-color: #3aafa9;
   color: #feffff;
   font-family: 'Rubik', sans-serif;
}

.homeContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.navBar {
   justify-content: space-between;
   margin: 0px 5px;
}

.navBar a {
   text-decoration: none;
   color: #feffff;
}

.linkContainer {
   flex: 1;
   justify-content: space-between;
   max-width: 200px;
}

.item {
   max-width: 300px;
   max-height: 300px;
   margin: 5px;
}
